DB_HOST=postgres
DB_PORT=5432
DB_USER=fleet_user
DB_PASSWORD=fleet_pass
DB_NAME=fleet_db
MQTT_BROKER=tcp://mosquitto:1883
MQTT_CLIENT_ID=fleet-subscriber
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
GEOFENCE_LAT=-6.2088
GEOFENCE_LON=106.8456
GEOFENCE_RADIUS_METERS=50
API_PORT=8080
